.AssetTracker-body {
  text-align: center;
}

.AssetTracker-navbar {
  display: flex;
  margin-left: 5%;
  font-size: 10px;
  top: 0;
}

.AssetTracker-navbar-all {
  /* Hack to fix last element to the right. */
  margin-left: auto;
  margin-right: 5px;
}
